{%- extends 'index.html' -%}
{%- block header -%}{%- include 'head.html' -%}{%- endblock -%}
{%- block body -%}
	{%- if news -%}
		<div class="row">
			<div class="col-md-9">
			{%- for post in news -%}
		    	<div class="page-header">
					<h1><a href="{{ url_for('single_news', permalink=post['permalink']) }}">{{post['title']}}</a></h1>
				</div>
				</hr>
				<div class="content">
					<p>{{post['body']}}</p>
					<i>{{post['time']}}</i>
				</div>
			{%- endfor -%}
		</div>
		</div>
	{%- endif -%}
{%- endblock -%}
